doctype html
html
  head
    meta(charset='UTF-8')
    title Privacy Policy
    style(type='text/css').
      p {
      font-family: "Helvetica Neue", Segoe, "Segoe UI", Arial, sans-serif;
      font-size:16px;
      font-weight:normal;
      line-height: 1.375em;
      }
      .title {
      font-weight:bold !important;
      }
      a {
      color: rgb(83, 154, 190);
      }
  body
    p.title Privacy Policy
    p
      | This application only works as a bot for the developer of the application. So he can autolike photos of different hashtags. The source code is public at https://github.com/rafinskipg/instagrambot.
    p
      | This application does not gather, log, or share any personal information with anybody.